<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main>
		<section class="container" style="margin-top: 80px;">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Cliente</li>
					<li class="breadcrumb-item active" aria-current="page"
						style="position: relative;">Mis pedidos <span
						class="badge badge-danger"
						style="position: absolute; right: -20px" th:text="${contadorPed}"></span>
					</li>
				</ol>
			</nav>

			<div style="display: flex; flex-wrap: wrap;">
				<div class="card  mb-3 border" style="width: 18rem; margin: 10px;"
					th:each="pedido : ${pedidos}" >
				
					
						<div class="card-header text-white bg-danger"  >
								Pedido Nro: <span th:text="${pedido.id}"></span>
						</div>
					
					
						
				
					<div class="card-body" >
						<h5 class="card-title">
							Estado: <span th:text="${pedido.EstadoPedido}"></span>
						</h5>
						<p class="card-text">
							Fecha: <span
								th:text="${#dates.format(pedido.fechaPedido, 'HH:mm dd-MM-yyyy')}"></span>
						</p>
						<p class="card-text">
							Precio: <strong>S/<span
								th:text="${#numbers.formatDecimal(pedido.precioTotal, 0, 2)}"></span></strong>
						</p>
						<p class="card-text"></p>
						<a th:href="@{'/pedidos/' + ${pedido.id} + '/d'}"
							class="btn btn-info">Ver detalle</a>
					</div>
				</div>
			</div>

		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>