<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main>
		<!-- Banner principal -->

		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active" data-interval="50">
					<a href="#"><img src="/images/fondo1.png" class="d-block w-100"></a>
					<div class="carousel-caption d-none d-md-block">
						<h5>Nvidia</h5>
						<p>Se parte de la revolucion gamer con el RayTracing&copy;</p>
					</div>


				</div>
				<div class="carousel-item" data-interval="50">
					<a href="#"><img src="/images/fondo2.png" class="d-block w-100"></a>
					<div class="carousel-caption d-none d-md-block">
						<h5>AMD Radeon</h5>
						<p>Prueba la nueva generacion de graficas. Cambia tu mundo.</p>
					</div>
				</div>
				<div class="carousel-item" data-interval="50">
					<a href="#"><img src="/images/fondo3.png" class="d-block w-100"></a>
					<div class="carousel-caption d-none d-md-block">
						<h5>HyperX</h5>
						<p>Juega mejor, vive mejor.</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>



		<!-- Catalog -->
		<div class="container">

			<div
				class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
				<h1 class="h2 mb-0 pt-3 mr-2">Best Sellers</h1>
				<div class="pt-3">
					<a class="btn btn-outline-primary btn-sm" href="/catalog">M&aacute;s
						productos<i class="fas fa-chevron-right ml-1"></i>
					</a>
				</div>
			</div>


			<div class="row mt-3">
				<div class="card-deck">
					<div class="card product-grid2">
						<div class="product-image2">
							<span class="badge badge-danger mr-3"
								style="position: absolute; right: 0px; box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15)">New</span>
							<img src="/images/productos/8.png">


							<ul class="social">
								<li><a href="/products/amd-ryzen-5-3600-8/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>

						</div>
						<div class="card-body" style="padding-bottom: 0">

							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">Procesador</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star "></span>
									<span class="fa fa-star-half-alt"></span>
								</p>
							</div>

							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/amd-ryzen-5-3600-8/p"
									class="text-reset text-decoration-none font-weight-bold">AMD
									Ryzen 5 3600</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.499<small>.90</small>
								</div>
							</div>
						</div>
					</div>
					<div class="card product-grid2">
						<div class="product-image2">
							<img src="/images/productos/1.png">


							<ul class="social">
								<li><a href="/products/intel-core-i3-9700k-1/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">Procesador</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star "></span>
									<span class="fa fa-star "></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="#"
									class="text-reset text-decoration-none font-weight-bold">Intel
									Core i3 8100</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.979<small>.90</small>
								</div>
							</div>
						</div>
					</div>
					<div class="card product-grid2">
						<div class="product-image2">
							<span class="badge badge-danger mr-3"
								style="position: absolute; right: 0px; box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15)">New</span>
							<img src="/images/productos/2.png">

							<ul class="social">
								<li><a href="/products/nvidia-geforece-rtx-3070-2/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">Tarjeta
									de Video</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="far fa-star"></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/nvidia-geforece-rtx-3070-2/p"
									class="text-reset text-decoration-none font-weight-bold">Msi
									GeForce RTX 3070</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.2,210<small>.90</small>
								</div>
							</div>
						</div>
					</div>
					<div class="card product-grid2">
						<div class="product-image2">
							<img src="/images/productos/3.png">

							<ul class="social">
								<li><a href="/products/gskill-trident-z-neo-8gb-3/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">RAM</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="far fa-star"></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/gskill-trident-z-neo-8gb-3/p"
									class="text-reset text-decoration-none font-weight-bold">G.SKILL
									Trident Z Neo</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.299<small>.90</small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-deck mt-3">
					<div class="card product-grid2">
						<div class="product-image2">
							<img src="/images/productos/4.png">

							<ul class="social">
								<li><a href="/products/msi-geforce-gtx-1650-s-4/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">Tarjeta
									de Video</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star-half-alt"></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/msi-geforce-gtx-1650-s-4/p"
									class="text-reset text-decoration-none font-weight-bold">Msi
									GeForce GTX 1650-S</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.839<small>.90</small>
								</div>
							</div>
						</div>
					</div>
					<div class="card product-grid2">
						<div class="product-image2">
							<span class="badge badge-danger mr-3"
								style="position: absolute; right: 0px; box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15)">New</span>
							<img src="/images/productos/9.png">

							<ul class="social">
								<li><a href="/products/intel-core-i5-9600K-9/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">

							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">Procesador</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star-half-alt"></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/intel-core-i5-9600K-9/p"
									class="text-reset text-decoration-none font-weight-bold">Intel
									Core i5 9600K</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.959<small>.90</small>
								</div>
							</div>
						</div>
					</div>
					<div class="card product-grid2">
						<div class="product-image2">
							<span class="badge badge-warning mr-3"
								style="position: absolute; right: 0px; box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.15)">Premium</span>

							<img src="/images/productos/5.png">


							<ul class="social">
								<li><a href="/products/msi-geforce-rtx-3080-5/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<div class="d-flex ">
								<p class="mb-0 text-muted" style="font-size: 13px">Tarjeta
									de Video</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="far fa-star"></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/msi-geforce-rtx-3080-5/p"
									class="text-reset text-decoration-none font-weight-bold">Nvidia
									Geforce RTX 3080</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.3,299<small>.90</small>
								</div>
							</div>
						</div>
					</div>
					<div class="card product-grid2">
						<div class="product-image2">
							<img src="/images/productos/6.png">


							<ul class="social">
								<li><a href="/products/kingston-memoria-ssd-240-gb-6/p"
									data-tip="View"><i class="fa fa-eye"></i></a></li>
								<li><a href="#" data-tip="Add to Cart"><i
										class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="card-body" style="padding-bottom: 0">
							<div class="d-flex mb-1">
								<p class="mb-0 text-muted" style="font-size: 13px">SSD</p>
								<p class="ml-auto mb-0 checked" style="font-size: 12px;">
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star"></span> <span class="fa fa-star"></span>
									<span class="fa fa-star-half-alt"></span>
								</p>
							</div>
							<p class="text-muted" style="font-size: 16px; margin: 0">
								<a href="/products/kingston-memoria-ssd-240-gb-6/p"
									class="text-reset text-decoration-none font-weight-bold">Kingston
									A400</a>
							</p>

							<div class="d-flex" style="font-size: 14px; margin-bottom: 5px">
								<div>Precio:</div>
								<div class="ml-auto">
									S/.239<small>.90</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="container">
			<div class="row align-items-center rounded shadow mb-4"
				style="background-color: rgba(105, 179, 254, 0.1)">

				<div class="col-md-5">
					<span class="badge badge-danger ml-5" style="position: absolute">Oferta
						limitada</span>
					<div class="px-4 pr-sm-0 pl-sm-5 mb-5">
						<h3 class="mt-4 mb-1 text-body font-weight-light">Nuevo</h3>
						<h2 class="mb-1">iPad Pro Ultima Gen</h2>
						<p class="h5 text-body font-weight-light">a un precio
							descontado. &iexcl;Aprovecha!</p>

						<div id="clock" class="countdown pt-4 pb-5"></div>
						<a class="btn2 btn-accent btn-sm p-2 pr-3 pl-3" href=""
							style="text-decoration: none; color: white"> Ver oferta<i
							class="fas fa-chevron-right ml-1"></i>
						</a>
					</div>
				</div>
				<div class="col-md-7">
					<div class="col-md-7">
						<img src="/images/banner2.jpg" alt="iPad Pro Offer">
					</div>
				</div>
			</div>
		</div>

	</main>


	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>